.boxstyle {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid orange;
  margin: 1rem;
  padding: 5px;
  font-size: x-small;
  justify-content: space-between;
}
.img {
  max-width: 200px;
}

.imgcont {
  display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
    margin: 0;
    align-content: center;
    flex-wrap: wrap;
}

.img {
  width: 100%;
  height: auto;
}

.featured {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  padding-left: 1rem;
  padding-block: 0.2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-right: 0.4rem;
  margin-block: 0.5rem;
  color: red;
}
.productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.title {
  margin-bottom: 0.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(0, 0, 0);
}

.description {
  margin: 0.2rem;
  height: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: grey;
}
.buyinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  margin-bottom: 5px;
  font-size: small;
}
.money {
  margin: 0px;
  color: rgb(0, 207, 0);
}
.place {
  margin: 0px;
  color: rgb(0, 0, 0);
}

.userinfo {
  display: flex;
  flex-direction: column;
  color: grey;
  border-top: 0.1rem solid black;
}
.userinfotext {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  align-items: center;
  color: black;
}

.star {
  font-size: large;
  color: grey;
  margin: 0 1px;
}
.colored {
  color: orange;
}
